.project {
  display: inline-flex;
  flex-direction: column;

  margin: 50px 20px;
  padding: 0px 50px;

  height: 700px;
  width: 500px;

  background-color: #792611;
  border-radius: 20px;
}

.project img {
  max-height: 500px;
  width: auto;
  max-width: 500px;
  object-fit: contain;
}

.projectName {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
}

.projectName img {
  margin: 32px 8px;
  height: 16px;
  width: 16px;
}
