<div class="contentText">
    <h2>À propos de moi</h2>
    <p>Je m'appelle Laurent, je suis un développeur full-stack dans la ville de Québec.</p>
    <p>
        J'ai commencé à programmer en lisant des livres sur le C à l'âge de 16 ans.
        à partir de là, je programmais toujours en Python ou en Perl sur le côté et
        j'expérimentais avec les sockets UNIX. J'ai lu beaucoup de code C++ et Qt en
        explorant la plateforme KDE, et j'ai commencé à en écrire en faisant des programmes
        illustrant la physique ou les mathématiques de mes cours.
    </p>
    <p>
        J'ai passé trois belles années à Sherbrooke. L'une pour finir mon diplôme en science pure,
        l'autre à Sherbrooke où j'ai appris l'électricité et à utiliser un Arduino. Ensuite,
        j'ai eu une introduction plus formelles aux bases de données relationnelles. Durant
        ma dernière session là-bas, j'ai programmé un site d'échange en ligne en Java et React
        avec trois autres personnes. J'avais déjà utilisé React, alors je l'ai intégré au projet.
        Sur le côté, j'apprenais à faire des back-ends en Go ou en node.js. J'en ai fait aussi
        en Perl, en Python et en Common Lisp.
    </p>
    <p>
        Maintenant, j'apprends la plateforme Web avec Angular.
    </p>
</div>